.news-page {
  &__top {
    align-items: center;
    display: flex;
    margin-top: calculateRem(36);
  }

  &__category {
    color: $clr-white;
    display: inline-block;
    padding: calculateRem(6) calculateRem(24);
    background-color: $x-clr-primary;
    margin-right: calculateRem(32);
  }

  &__title {
    color: $x-clr-primary;
    font-size: calculateRem(32);
    margin: calculateRem(16) 0;
  }

  &__image img {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .news-page__title {
    margin-right: calculateRem(44);
  }
}

.category-list {
  margin: calculateRem(34) 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin: 0 calculateRem(8) calculateRem(8) 0;
    display: inherit;
  }

  &__link {
    color: $x-clr-primary;
    background-color: #d3d3d3;
    border-radius: calculateRem(4);
    text-decoration: none;
    font-size: calculateRem(15);
    line-height: calculateRem(20);
    padding: calculateRem(8) calculateRem(24);
    transition: all 0.2s ease-in-out;

    &--active,
    &:hover {
      background-color: $x-clr-primary;
      color: $clr-white;
    }
  }
}

@media screen and (min-width: 992px) {
  .category-list__item {
    margin-right: calculateRem(14);
  }
}

.news-card {
  background-color: #fafafa;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: calculateRem(4);
  margin: 0 auto;
  margin-bottom: calculateRem(40);
  max-width: calculateRem(350);
  overflow: hidden;

  &__bar {
    position: absolute;
    background-color: rgba($x-clr-primary, 0.8);
    width: 100%;
    text-align: right;
    padding: calculateRem(8) calculateRem(12);
    z-index: 2;
  }

  &__date {
    color: $clr-white;
    font-size: calculateRem(12);
    font-weight: bold;
    text-transform: uppercase;
  }

  &__header {
    position: relative;
    font-size: 0;
    height: calculateRem(150);
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $x-clr-primary;
      opacity: 0.3;
    }
  }

  &__content {
    padding: calculateRem(16) calculateRem(20) calculateRem(32);
    overflow: hidden;
    height: calculateRem(200);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      pointer-events: none;
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1) 80%
      );
      width: 100%;
      height: calculateRem(100);
    }
  }

  &__title {
    font-size: calculateRem(20);
    margin: 0;
  }

  &__link {
    color: $x-clr-primary;
    transition: all 0.4s ease;
    text-decoration: none;

    &:hover {
      color: $x-clr-secondary;
    }
  }

  &__category {
    font-size: calculateRem(12);
    font-weight: bold;
    color: $x-clr-primary;
  }

  &__summary {
    font-size: calculateRem(13);
    color: $x-clr-text;
  }

  &__more {
    position: absolute;
    bottom: calculateRem(12);
    right: calculateRem(20);
    z-index: 2;
  }

  &__more-link {
    color: $x-clr-secondary;
    font-size: calculateRem(14);
    font-weight: bold;
    transition: all 0.4s ease;
    text-decoration: none;

    &:hover {
      color: $x-clr-primary;
    }
  }
}

@media screen and (min-width: 992px) {
  .news-card {
    &__content {
      height: calculateRem(260);
    }

    &__date {
      font-size: calculateRem(13);
    }

    &__title {
      font-size: calculateRem(24);
    }

    &__category {
      font-size: calculateRem(13);
    }

    &__summary {
      font-size: calculateRem(15);
    }
  }
}

.prev-next {
  display: flex;

  a {
    margin-right: calculateRem(16);
  }
}
