.person-card {
  background-color: #fafafa;
  border-radius: calculateRem(4);
  margin: 0 auto;
  margin-bottom: calculateRem(40);
  overflow: hidden;
  position: relative;
  height: 360px;
  width: 310px;

  &:hover {
    .person-card__content {
      opacity: 1;
    }
  }

  &__container {
    position: absolute;
    background-image: url('/images/staff/glen.jpg');
    background-size: 100%;
    top: 0;
    height: 100%;
    width: 100%;

    &--ed {
      background-image: url('/images/staff/ed.jpg');
    }

    &--darren {
      background-image: url('/images/staff/darren.jpg');
    }

    &--jack {
      background-image: url('/images/staff/jack.jpg');
    }

    &--maxine {
      background-image: url('/images/staff/maxine.jpg');
    }

    &--nicole {
      background-image: url('/images/staff/nicole.jpg');
    }

    &--kelly {
      background-image: url('/images/staff/kelly.jpg');
    }

    &--eleanor {
      background-image: url('/images/staff/eleanor.jpg');
    }

    &--join {
      background-image: url('/images/staff/join.png');
    }
  }

  &__content {
    background-color: rgba(230, 234, 237, 0.95);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: calculateRem(80);
    overflow: scroll;
    font-size: calculateRem(14);
    color: #1c1c1c;
    font-weight: 300;
    padding: calculateRem(16) calculateRem(20);
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  &__text {
    margin: 0 0 calculateRem(20);
  }

  &__job {
    color: $clr-white;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba($x-clr-primary, 0.8);
    padding: calculateRem(12) calculateRem(16);
    height: calculateRem(80);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    text-transform: uppercase;
    font-size: calculateRem(12);
    font-weight: 600;
  }

  &__name {
    font-weight: bold;
    font-size: calculateRem(14);
  }
}

@media screen and (min-width: 1200px) {
  .person-card {
    width: calculateRem(350);
    height: calculateRem(394);
  }
}
